.guppy-paragraph {
    display: grid;
    position: absolute;
    left: 10%;
    top: 70px;
}

.guppy-grid {
    display: grid;
    position: absolute;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:10px;
    justify-content: space-between;
    background-color: lightpink;
    width: 90%;
    left: 142px;
    right: 100px;
    top: 186px;
}


.guppy-info {
    width: 300px;
    height: 400px;
    background-color: lightblue;
    align-items: center;
    border-radius: 10px;
}

.guppy-info img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.guppy-description {
    display: grid;
    text-align: center;
    vertical-align: middle;
}

.guppy-description button {
    margin: auto;
    width: 120px;
    height: 25px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
}

.guppy-description button:hover {
    cursor: pointer;
}

.guppy-description button:active {
    opacity: 0.5;
}

.guppy-description p {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 25px;
}