.guppy-paragraph {
    display: grid;
    position: absolute;
    left: 10%;
    top: 70px;
}

.guppy-grid {
    display: grid;
    position: absolute;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px;
    gap:10px;
    justify-content: space-between;
    background-color: lightpink;
    width: 900px;
    left: 20%;
    right: 10%;
    top: 25%;
}


.guppy-info {
    width: 200px;
    background-color: lightblue;
    margin-bottom: 20px;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 10px;
}

.guppy-info img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.guppy-description {
    display: grid;
    text-align: center;
    vertical-align: middle;
}

.guppy-description button {
    margin: auto;
    width: 120px;
    height: 25px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
}

.guppy-description button:hover {
    cursor: pointer;
}

.guppy-description button:active {
    opacity: 0.5;
}

.guppy-description p {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 25px;
}