.header {
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 0;
    left: 0px;
    right: 0px;
    z-index: 100;
    gap: 10px; 
    padding: 10px 0;
    align-items: center;
    border-bottom: 2px solid lightgray;
}


.bottom-section,
.top-section {
    display: flex; 
    align-items: center;
    width: 55%;
}

.top-section {
    justify-content: space-between;
    width: 47%;
}

.bottom-section {
    justify-content: space-around;
}

.bottom-section p:hover {
    text-decoration: underline;
    cursor: pointer;
}


.left-section {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70%;
}

.right-section {
    display: flex;
    justify-content: flex-end;
}


.right-section img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.left-section img {
    height: 100px;
    width: 100px;
    border-radius: 40px;
    margin-right: 20px;
}

.left-section p {
    color: blue;
    font-size: 22px;
    font-weight: 600;
}
